.sg-page{

  &__login{

    width: 100%;
    display: table;

    background-image: url('../images/soccer-guess-background-login.png');
    background-size: cover;
    background-position: center;

    section{

      width: 340px;
      max-width: 100%;

      margin-left: auto;
      margin-right: 15%;
    }
  }
}
