.sg-page{

  &__login{

    width: 100%;
    display: table;

    background-image: url('../images/soccer-guess-background-login.png');
    background-size: cover;
    background-position: center;

    section{

      width: 100%;
      max-width: 500px;
      padding: 0 1rem;
      margin-right: auto;
      margin-left: auto;

      @include respond-to('small') {
        margin-left: auto;
        margin-right: 15%;
        max-width: 340px;
      }
    }
  }
}
